{% extends "blogs/base.html" %}

{% block pageheader %}
    <h3>Posts</h3>
{% endblock pageheader %}


{% block content%}
    <p>
        <a href="{% url 'blogs:new_blog' %}">Add a new post:</a>
    </p>
    {% for post in posts %}
    <div class="card mb-3">
        <h4 class="card-header">
            {{ post.title }}
            <small>
                {{ post.date_added|date:'M d, Y H:i' }}
                {{ post.owner }}
            </small>
        </h4>
        <div class="card-body">
            {{ post.text|linebreaks }}
            <small>
                <a href="{% url 'blogs:edit_blog' post.id %}">edit post</a>
            </small>
        </div>
    </div>
    {% empty %}
        <li>No posts have been added yet.</li>
    {% endfor %}

{% endblock content %}


